.advantages {
  margin: 0 auto;
  background-color: #F9F9F9;
  max-width: 100%;
  min-height: 596px;
  z-index: 0;
}

.advantages__title {
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
  color: var(--heavy-grey-color);
  padding-top: 70px;
  margin-bottom: 25px;
}

.advantages__about {
  display: flex;
  justify-content: center;
}

.advantages__about-line {
  margin: 0;
  /* display: inline-block; */
  width: 40px;
  height: 2px;
  align-items: center;
  background-color: var(--heavy-grey-color);
  text-align: center;
  margin-top: 13px;
  /* по-другому не смог сделать */
}

.advantages__about-line:not(:last-child) {
  margin-right: 20px;
}

.advantages__about-subtitle {
  /* margin: 0 auto; */
  text-align: center;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  color: var(--heavy-grey-color);
  margin: 0 22px 35px 0;
  /* margin-bottom: 35px; */
}

.advantages__text {
  margin: 0 auto;
  text-align: center;
  max-width: 724px;
  font-size: 18px;
  line-height: 25px;
  color: var(--heavy-grey-color);
  margin-bottom: 50px;
}

.advantages__list-top {
  /* margin: 0 auto; */
  display: flex;
  justify-content: center;
  gap: 119px;
  
}

.advantages__item-top {
  /* margin: 0 auto; */
  min-width: 122px;
  min-height: 122px;
  /* text-align: center;
  vertical-align: text-top; */
  padding: 32px 44px;
  font-weight: 500;
  font-size: 57px;
  line-height: 57px;
  color: var(--white-color);
  background-color: var(--light-blue-color);
  border-radius: 50%;
  margin-bottom: 16px;
}

.advantages__list-bottom {
  /* margin: 0 auto; */
  display: flex;
  justify-content: center;
  gap: 45px;
  
}

.advantages__item-bottom {
  /* margin: 0 auto; */
  width: 196px;
  height: 57px;
  text-align: center;
  /* vertical-align: text-top; */
  /* padding: 32px 44px; */
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: var(--heavy-grey-color);
  margin-bottom: 70px;
}
