.advantages {
  margin: 0 auto;
  background-color: #F9F9F9;
  max-width: 100%;
  min-height: 596px;
  z-index: 0;
}

.advantages__title {
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
  color: var(--heavy-grey-color);
  padding-top: 70px;
  margin-bottom: 25px;
}

.advantages__about {
  display: flex;
  justify-content: center;
}

.advantages__about-line {
  margin: 0;
  /* display: inline-block; */
  width: 40px;
  height: 2px;
  align-items: center;
  background-color: var(--heavy-grey-color);
  text-align: center;
  margin-top: 13px;
  /* по-другому не смог сделать */
}

.advantages__about-line:not(:last-child) {
  margin-right: 20px;
}

.advantages__about-subtitle {
  /* margin: 0 auto; */
  text-align: center;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  color: var(--heavy-grey-color);
  margin: 0 22px 35px 0;
  /* margin-bottom: 35px; */
}

.advantages__text {
  margin: 0 auto;
  text-align: center;
  max-width: 724px;
  font-size: 18px;
  line-height: 25px;
  color: var(--heavy-grey-color);
  margin-bottom: 50px;
}


/* кружки с цифрами */
.advantages__list-top {
  /* margin: 0 auto; */
  display: flex;
  justify-content: center;
  gap: 45px;
}

.advantages__item-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 196px;
  min-height: 195px;
  gap: 16px;
}


.advantages__item-top {
  margin: 0 auto;
  width: 122px;
  height: 122px;
  padding: 32px 44px;
  font-weight: 500;
  font-size: 57px;
  line-height: 57px;
  color: var(--white-color);
  background-color: var(--light-blue-color);
  border-radius: 50%;
}

.advantages__list-bottom {
  /* margin: 0 auto; */
  display: flex;
  justify-content: center;
  gap: 45px;
  
}

.advantages__item-bottom {
  /* margin: 0 auto; */
  width: 196px;
  height: 57px;
  text-align: center;
  /* vertical-align: text-top; */
  /* padding: 32px 44px; */
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: var(--heavy-grey-color);
  margin-bottom: 70px;
}

@media (max-width: 1024px) {

  .advantages{
    min-height: 565px;
  }

  .advantages__title {
    font-weight: bold;
    font-size: 32px;
    line-height: 37.5px;
    margin-bottom: 23px;
  }

  .advantages__about-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 23.44px;
    margin-bottom: 33px;
  }

  .advantages__text {
    max-width: 666px;
    font-size: 16px;
    line-height: 22.5px;
  }

  .advantages__item-wrapper {
    gap: 26px;
  }

  .advantages__item-top {
    width: 104px;
    height: 104px;
    padding: 15px 30px;
    font-size: 52px;
    line-height: 73.13px;
    text-align: center;
    /* margin-bottom: 26px;     */
  }
  
  .advantages__list-top {
    justify-content: space-evenly;
    gap: 0px;
  }

  .advantages__list-bottom {
    justify-content: space-evenly;
    gap: 0px;
    
  }

  .advantages__item-bottom {
    width: 180px;
    height: 52px;
    font-size: 18px;
    line-height: 25.31px;
  }


}
