.footer {
  margin: 0 auto;
  background-color: var(--blue-heavy-color);
  max-width: 100%;
  min-height: 158px;
  padding: 45px 0;
  /* z-index: 0; */
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 200px;
  /* gap: 302px; */
}

.footer-left {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.footer-left__logo {
  margin-right: 19px;
}

.footer-left__text {
  min-width: 127px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16.88px;
}

.footer__center {
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 16.88px;
}

.footer-right {
  text-align: center;
  min-width: 208px;
  max-height: 53px;
}

.footer-right__link {
  font-size: 16px;
  line-height: 19px;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.5);
  text-align: center;
}

.footer-right__text-top {
  font-size: 23.85px;
  line-height: 28px;
  margin-bottom: 20px;
}

.footer-right__text-bottom {

}


.footer__phone-adaptive {

}

.footer__phone-button {
  display: none;
}

@media (max-width: 1024px) {

  .footer {
    min-height: 146px;
    padding: 49px 0;
  }

  .footer__center {
    color: var(--grey-color);
  }

  .footer-right__text-top {
    font-size: 21px;
    line-height: 24.61px;
  }

  .footer-right__link {
    font-size: 13px;
    line-height: 15.23px;
  }

}
