.footer {
  margin: 0 auto;
  background-color: var(--blue-heavy-color);
  max-width: 100%;
  min-height: 158px;
  padding: 45px 0;
  /* z-index: 0; */
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 200px;
  /* gap: 302px; */
}

.footer-left {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.footer-left__logo {
  margin-right: 19px;
}

.footer-left__text {
  min-width: 127px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16.88px;
}

.footer__center {
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 16.88px;
}

.footer-right {
  text-align: center;
  min-width: 208px;
  max-height: 53px;
  display: flex;
  flex-direction: column;
}

.footer-right__link {
  font-size: 16px;
  line-height: 19px;
  z-index: 2;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.5);
}

.footer-right__text-top {
  font-size: 23.85px;
  line-height: 28px;
  margin-bottom: 6px;
}

.footer-right__text-bottom {

}

/* кнопка появляется в моб версии */
.footer__phone-button {
  display: none;
  min-width: 24px;
  min-height: 24px;
  border: none;
  border-radius: 50%;
  background-color: var(--black-grey-color);
}

.footer__phone-adaptive {

}

.footer__author-adaptiv {
  margin: 0 auto;
  text-align: center;
  display: none;
  min-height: 47px;
  background-color: var(--light-black-color);
  font-size: 12px;
  line-height: 16.88px;
  color: var(--grey-color);
}

@media (max-width: 1024px) {

  .footer {
    min-height: 146px;
    padding: 37px 0;
  }

  .footer__wrapper {
    justify-content: flex-start;
    gap: 194px;
  }

  .footer-left__logo {
    width: 60px;
    height: 60px;
  }

  .footer__center {
    color: var(--grey-color);
  }

  .footer-right {
    max-width: 186px;
    min-height: 49px;
    margin: 0 auto;

  }

  .footer-right__text-top {
    font-size: 21px;
    line-height: 24.61px;
    /* max-width: 186px; */
    margin-bottom: 4px;
    padding-left: 21px;

  }

  .footer-right__text-bottom {
    margin: 0 auto;
    padding-left: 23px;
    height: 18px;
  }

  .footer-right__link {
    font-size: 13px;
    line-height: 15.23px;
  }
}

@media (max-width: 620px) {

  .footer {
    min-height: 127px;
    padding: 25px 0 0 0;
  }

  .footer__wrapper {
    margin-bottom: 25px;
  }

  .footer-left__logo {
    width: 30px;
    height: 30px;
    margin-right: 19px;
  }

  .footer-left__text {
    font-size: 8px;
    line-height: 11.25px;
  }

  .footer__center {
    display: none;
  }

  .footer__author-adaptiv {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-right__text-top {
    display: none;
  }

  .footer-right__text-bottom {
    display: none;
  }

  .footer-right {
    display: flex;
    justify-content: flex-end;
    min-width: 24px;
    
  }

  .footer__phone-button {
    display: block;
    width: 24px;
    height: 24px;
  }

  .footer__phone-adaptive {
    width: 24px;
    height: 24px;
    z-index: 2;
  }

}

