:root {
  --background-color: #1B1A1B;
  --white-color: #ffffff;
  --dark-blue-color: #15A9CB;
  --light-grey-color: rgba(255, 255, 255, 0.86);
  --dark-grey-color: rgba(255, 255, 255, 0.75);
  --heavy-grey-color: #383A4C;
  --light-blue-color: #23C7EC;
  --black-grey-color: #4A4D61;
}